$content-width: 480px;
$spacing: 40px;
$clr-text-main: #333;
$clr-white-space: #F9F9F9;
$clr-link: #C04;

/*
 *  LAYERS
 */

.home-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;  
}

.layer-instas {
  z-index: 100;
}

.layer-main-content {
  z-index: 200;
  left: 50%;
  width: $content-width;
  margin-left: $content-width / -2;
  background-color: $clr-white-space;
}

/*
 *  INSTAS
 */

.instas {
  float: left;
  width: 50%;

  .insta {
    display: block;
    float: left;
    width: 50%;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    position: relative;

    &::after {
      padding-top: 100%;
      display: block;
      content: '';
    }

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.7);
      transition: background-color 300ms ease;
    }

    &:hover {
      &::before {
        background-color: transparent;
      }
    }
  }

  &-left {
    padding-right: $content-width / 2;

    .insta {
      border-width: 0 1px 1px 0;
    }
  }

  &-right {
    padding-left: $content-width / 2;

    .insta {
      border-width: 0 0 1px 1px;
    }
  }
}

/*
 *  CONTENT
 */

.main-content {
  padding: $spacing;
  color: $clr-text-main;
  text-align: center;

  .home-avatar {
    display: block;
    border-radius: 100%;
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px $clr-text-main;
    width: 80px;
    height: 80px;
    margin: 0px auto;
    margin-bottom: $spacing;
  }

  .home-title {
    font-weight: normal;
    font-size: 27px;
    margin-bottom: $spacing / 2;
  }

  .home-bio {
    font-size: 18px;
    margin-bottom: $spacing / 2;
  }

  .home-links {
    margin-bottom: $spacing;
    a {
      color: $clr-link;

    }
  }

  .home-social {
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      font-size: 25px;
      margin-right: $spacing / 2;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $clr-text-main;
        transition: color 100ms;

        &:hover {
          color: $clr-link;
        }
      }
    }
  }
}
