$content-width-medium: 360px;
$content-width-large: 480px;
$spacing: 40px;
$clr-text-main: #333;
$clr-white-space: #F9F9F9;
$clr-link: #C04;

$bp-m-min: 600px;
$bp-l-min: 900px;
$bp-xl-min: 1400px;
$bp-xxl-min: 2400px;
$breakpoints: (medium: $bp-m-min, large: $bp-l-min, xl: $bp-xl-min, xxl: $bp-xxl-min);



/*
 *  LAYERS
 */

.layer-main-content {
  background-color: $clr-white-space;
}

/*
 *  INSTAS
 */

.instas {
  border-left: 1px solid $clr-white-space;

  .insta {
    display: block;
    float: left;
    width: 50%;
    background-position: center;
    background-size: cover;
    border: 1px solid $clr-white-space;
    border-width: 0 1px 1px 0;

    &::after {
      padding-top: 100%;
      display: block;
      content: '';
    }
  }
}

/*
 *  CONTENT
 */

.main-content {
  padding: $spacing;
  color: $clr-text-main;
  text-align: center;

  .home-avatar {
    display: block;
    border-radius: 100%;
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px $clr-text-main;
    width: 80px;
    height: 80px;
    margin: 0px auto;
    margin-bottom: $spacing;
  }

  .home-title {
    font-weight: normal;
    font-size: 27px;
    margin-bottom: $spacing / 2;
  }

  .home-bio {
    font-size: 18px;
    margin-bottom: $spacing / 2;
  }

  .home-links {
    margin-bottom: $spacing;
    a {
      color: $clr-link;

    }
  }

  .home-social {
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      font-size: 25px;
      margin-right: $spacing / 2;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $clr-text-main;
        transition: color 100ms;

        &:hover {
          color: $clr-link;
        }
      }
    }
  }
}

/*
 *  >=MEDIUM 
 */

@include media('>=medium') {
  .home-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;  
  }

  .layer-instas {
    z-index: 100;
  }

  .layer-main-content {
    z-index: 200;
    left: 50%;
    width: $content-width-medium;
    margin-left: $content-width-medium / -2;
  }

  .instas {
    border: none;
    float: left;
    width: 50%;

    .insta {
      border: 1px solid black;
      position: relative;
      width: 100%;

      &::after {
        padding-top: 100%;
        display: block;
        content: '';
      }

      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.8);
        transition: background-color 300ms ease;
      }

      &:hover {
        &::before {
          background-color: transparent;
        }
      }
    }

    &-left {
      padding-right: $content-width-medium / 2;

      .insta {
        border-width: 0 1px 1px 0;
      }
    }

    &-right {
      padding-left: $content-width-medium / 2;

      .insta {
        border-width: 0 0 1px 1px;
      }
    }
  }

}

/*
 *  >=LARGE
 */

@include media('>=large') {
  .layer-main-content {
    width: $content-width-large;
    margin-left: $content-width-large / -2;
  }

  .instas {
    &-left {
      padding-right: $content-width-large / 2;
    }

    &-right {
      padding-left: $content-width-large / 2;
    }
  }
}

/*
 *  >=XL
 */

@include media('>=xl') {
  .instas {
    .insta {
      width: 50%;
    }
  }
}

/*
 *  >=XXL
 */

@include media('>=xxl') {
  .instas {
    .insta {
      width: 33.33333%;
    }
  }
}
